@media(max-width: 1199px){

}
@media(max-width: 991px){
	.navbar-nav li a 
    
   { padding-left: 18px !important;
    padding-right: 18px !important;}
	
	.feature-section i 
   { font-size: 43px;}
    
    .feature-section p 
    {font-size: 14px;}

    .work-with-us 
   { text-align: center;
    margin: -16px 151px;
    padding: 50px 0;}

    .work-with-us h5 
   { padding-bottom: 10px;
    font-size: 24px;}

}
@media(max-width: 767px){
	
}
@media(max-width: 575px){
	
}